[alias]
    s = status
    d = diff
    wc = whatchanged
    ci = commit
    co = checkout
    rb = rebase
    fa = fetch --all
    l = log --pretty=oneline
    h = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
    rb2 = rebase -i HEAD~2
    rb3 = rebase -i HEAD~3
    rb4 = rebase -i HEAD~4
